
<div class="container">

  <form #userForm="ngForm">
    <!-- <div ngModelGroup="personal" #personal="ngModelGroup"> -->
    <div class="form-group">
      <label for="uName" class="form-label">Name</label>
      <input type="text"  ngModel pattern="[a-zA-Z ]*" class="form-control"  maxlength="15" placeholder="Enter a name" name="userName" [(ngModel)]="userObj.userName" required />

    </div>

    <!-- formControlName="fName" [ngClass]="{'is-invalid':submitted && ngForm.controls.fName.errors}"  -->

    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" placeholder="Enter an email" name="email" [(ngModel)]="userObj.email" required email/>
    </div>

    <div class="form-group">
      <label for="contact" class="form-label">Contact</label>
      <input type="number" class="form-control" placeholder="Enter your number" name="number" [(ngModel)]="userObj.number" required />
    </div>
<br/>

    <button type="button" class="btn btn-primary" (click)="addUser(userForm)" *ngIf="!isEdit" [disabled]="!userForm.valid" >Submit</button>

    <button *ngIf="isEdit" class="btn btn-primary" (click)="updateUser(userForm)">Update</button>

    <div>
      <small *ngIf="userForm.invalid">Input a valid value</small>
    </div>
  <!-- </div> -->
  </form>


</div>

<hr />

<app-user (sendtoParent)="receiveUser($event)"></app-user>

<!-- <router-outlet (sendtoParent)="receiveUser($event)"></router-outlet> -->



